extends ../_layout
block var
  - title = "サービス | ラインズマン"
  - keywords = "サービス"
  - description = ""
  - url = "https://www.linesman.jp/services/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'service-contents'
block body
  .title
    h1 SERVICE
    small サービス
    hr
  .wrapper
    .service-top
      .service-category
        .title
          h2 user
          small お部屋を探す人
          hr
        .services
          .service-article
            a(href="/services/order/")
              figure(style="background-image:url(https://www.linesman.jp/services/uploads/service01.jpg);")
              .detail
                h2 お部屋探し
                p
                  | 「良い物件」は人それぞれ違います。ご希望の条件をしっかりヒヤリングし、
                  | 物件はもちろん、契約内容、管理会社なども調査し、納得できる物件を探し出します。
          .service-article
            a(href="/services/retreat/")
              figure(style="background-image:url(https://www.linesman.jp/services/uploads/20180114134605-039d0bb01bfde3a5fd66a2e20bcd03a92cfc489a.jpeg);")
              .detail
                h2 退去費用診断
                p
                  | 国土交通省のガイドラインに基づいた適切な退去診断表を作成します。
                  | また契約内容も診断。　適切な退去費用を算出します。
      .service-category
        .title
          h2 owner
          small 不動産オーナー
          hr
        .services
          .service-article
            a(href="/services/trouble/")
              figure(style="background-image:url(https://www.linesman.jp/services/uploads/20180116145426-290bed84f4547756d50ab7d3fcc79bea90018680.jpeg);")
              .detail
                h2 トラブル対応
                p
                  | 入居者に長く心地よく生活して頂くために、生活上のトラブルには迅速かつ丁寧に対応します。
                  | トラブルの対応はもちろん、入居者への丁寧な対応もお任せください。
          .service-article
            a(href="/services/inspection/")
              figure(style="background-image:url(https://www.linesman.jp/services/uploads/20180116145627-d63e6ba9c32bcc47f440ee8eaa26fe0480516e60.jpg);")
              .detail
                h2 退去時の点検と精算
                p
                  | 退去時の立ち会い・点検は、100を超える細かい点検項目を用意しています。
                  | 点検漏れでの後処理は、お互いにいい気持ちはしません。
                  | 次の生活へ気持ち良く向かうために、きめ細かく点検をします。
          .service-article
            a(href="/services/residents/")
              figure(style="background-image:url(https://www.linesman.jp/services/uploads/20180116145832-2c1341a80bb96f65100a81ec6f12e3dc3108f3a1.jpg);")
              .detail
                h2 入居者募集について
                p
                  | 普通の不動産屋さんでは拾いきれないような魅力を掘りおこします。
                  | 写真、募集図面を丁寧につくり、その物件の個性をうまく引き出した入居者募集を展開していきます。
