extends ../../_layout
block var
  - title = "スタッフ | ラインズマン"
  - keywords = ""
  - description = "代表取締役・宅地建物取引主任者・ファイナンシャルプランナー２級"
  - url = "https://www.linesman.jp/about/staff/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'single'
block body
  .title
    h1 STAFF
    small スタッフ
    hr
  .wrapper
    #side
      nav
        ul
          li
            a(href="../") 会社概要
          li
            a.current(href="#") スタッフ
          li
            a(href="../access/") アクセス
    main#main
      .entry-body
        .staff
          figure
            img(src="../uploads/monden_big.jpg")
            figcaption
              h2 門傳義文
              span Yoshinori Monden
              h3 代表取締役・宅地建物取引主任者・ファイナンシャルプランナー２級
              p 「不動産をわかりやすく伝える」をコンセプトに、不動産会社「ラインズマン」を設立。
                br
                | メディア「暮らしっく不動産」を運営するほか、相談者とともに悩み、考える住まい選びの “プロ”として活動している。
                br
                | 趣味はサッカーと音楽（ベーシスト）。ベースの教則本も執筆している。
                br
                br
                | 不動産業界が抱える多くの問題に起業を決意。
                br
                | 「不動産をわかりやすく伝える」をコンセプトに、2013年4月に不動産会社「株式会社ラインズマン」を設立。
                br
                | 不動産や暮らしの情報を分かりやすく伝える自社メディア「暮らしっく不動産」の掲載記事は、現在1000記事を超え月間PVは30万PV以上。
                br
                br
                | Webマーケティングとユニークな不動産経営の取り組みは、不動産業界、各メディアなどにも数多く取り上げられいる。
                br
                | 2018年からは、公益財団法人 日本賃貸住宅管理協会　日管協総合研究所 委員　として選抜され、賃貸不動産業界の発展にも貢献。
                br
                | 2019年には、協会活動功労賞を受賞。
              .media
                #media_title メディア実績
                ul
                  li 日本経済新聞
                  li 朝日新聞
                  li テレビ東京「WBS」、TBS「NESW23」
                  li 雑誌「プレジデント」
                  li Yahoo！
                  li エキサイト
                  li 産経デジタル「IRONNA」
                  li 全国賃貸住宅新聞など。

