@use "../global";

.service-contents {
	.container {
		.wrapper {
			position: relative;
			padding-bottom: 64px;
		}
	}
	.services {
		display: grid;
    justify-content: center;
    align-items: stretch;
    @include global.mq(xl) {
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    }
    @include global.mq(lg) {
      grid-template-columns: 1fr 1fr;
    }
    @include global.mq(md) {
      grid-template-columns: 1fr;
    }
    gap: 32px;
    padding-left: 80px;
    padding-right: 80px;
    @include global.mq(lg) {
      padding-left: 24px;
      padding-right: 24px;
    }
    @include global.mq(md) {
      padding-left: 24px;
      padding-right: 24px;
      gap: 24px;
    }
		.service-article {
			box-sizing: border-box;
      background-color: white;
      border-radius: 8px;
			a {
        box-sizing: border-box;
        padding: 24px;
				display: block;
        height: 100%;
				&:hover {
					background-color: global.$light-green;
				}
			}
			figure {
				margin-left: auto;
				margin-right: auto;
				width: 180px;
				height: 180px;
				overflow: hidden;
				border-radius: 100%;
				@include global.background(center,center);
				margin-bottom: 24px;
			}
			.detail {
        @include global.mq(md) {
          flex: 1;
        }
				h2 {
					text-align: center;
					font-weight: 600;
					margin-bottom: 12px;
					font-size: 1.8rem;
          @include global.mq(md) {
            font-size: 1.4rem;
            text-align: left;
            margin-bottom: 6px;
          }
				}
				p {
					font-size: 1.4rem;
          @include global.mq(md) {
            font-size: 1.2rem;
          }
				}
			}
		}
	}
	.service-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 80px;
    padding-left: 80px;
    padding-right: 80px;
    @include global.mq(lg) {
      padding-left: 24px;
      padding-right: 24px;
      grid-template-columns: 1fr;
    }
    @include global.mq(md) {
      padding-left: 24px;
      padding-right: 24px;
      grid-template-columns: 1fr;
    }
		.service-category {
			box-sizing: border-box;
			.title {
				padding: 0;
				margin-bottom: 16px;
			}
      .services {
        padding-left: 0;
        padding-right: 0;
      }
		}
	}
}
