extends ../../../_layout
block var
  - title = "トラブル対応 | ラインズマン"
  - keywords = "お部屋を探す人"
  - description = "入居者に長く心地よく生活して頂くために、生活上のトラブルには迅速かつ丁寧に対応します。トラブルの対応はもちろん、入居者への丁寧な対応もお任せください。"
  - url = "https://www.linesman.jp/services/owner/trouble/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'single'
block breadcrumbs
  a(href="/services/") サービス
  a(href="/services/owner/") 不動産オーナー
  span トラブル対応
block body
  .title
    h1 TROUBLE SHOOTING
    small トラブル対応
    .lead 入居者に長く心地よく生活して頂くために、生活上のトラブルには迅速かつ丁寧に対応します。
      br
      | トラブルの対応はもちろん、入居者への丁寧な対応もお任せください。
    hr
  .wrapper
    #side
      nav
        ul
          li
            a.current(href="#") トラブル対応
          li
            a(href="../inspection/") 退去時の点検と精算
          li
            a(href="../residents/") 入居者募集について
          li
            a(href="https://www.kurachic.jp/column/post-3/" target="_blank") 不動産売却サービス
    main#main
      .entry-body
        p ときどきある小さなトラブル、たまにある大きなトラブル。 日常生活ではいろいろなことがおこります。 入居者に長く心地よく生活して頂くために、生活上のトラブルには迅速かつ丁寧に対応することが大切だと私たちは考えます。
          br
          | トラブル自体の対応はもちろん、入居者にも「丁寧に対応する」ということを私たちは大切にしています。 トラブルはみんなにとって嫌なもの。
          br
          | 大切な時間も取られてしまいますし、あまり良い気持ちはしません。 トラブルの対応はもちろん、入居者への丁寧な対応も大切に対応します。
        h2 主なトラブル事例とその対応
        p 一次対応を迅速に行うことで、重度なトラブルに発展しないようにリスクを減らします。
          br
          | ラインズマンでは、いろいろな対応を用意しています。
        .pictures
          .picture
            figure(style="background-image: url('/services/uploads/img_service01.png');")
            h3
              i.ion-checkmark-circled
              | 入居者の騒音
            p 夜間騒音、TV・オーディオなどの音量の問題
              br
              | 迅速な一次対応
          .picture
            figure(style="background-image: url('/services/uploads/img_service02.png');")
            h3
              i.ion-checkmark-circled
              | 鍵を紛失して入れない
            p スペアキーにて対応、その後シリンダー交換
          .picture
            figure(style="background-image: url('/services/uploads/img_service03.png');")
            h3
              i.ion-checkmark-circled
              | ゴミ出し違反
            p 分別・時間・場所など
              br
              | 各地域にゴミ分別に沿った指導用紙を作成して分別のお願いする。
          .picture
            figure(style="background-image: url('/services/uploads/img_service04.png');")
            h3
              i.ion-checkmark-circled
              | 近隣住民や入居者同士のトラブル
            p 重度なトラブルに発展しないように解決策を提示。
          .picture
            figure(style="background-image: url('/services/uploads/img_service05.png');")
            h3
              i.ion-checkmark-circled
              | 設備不良
            p お湯が出ない、エアコンが壊れたなど
              br
              | 即時対応
