footer#footer
  .footer-container
    .logo
      a(href="/")
        include ./_logo.pug
    ul#g-nav
      li
        a(href="/services/user/") お部屋を探す人
      li
        a(href="/services/owner/") 不動産オーナー
      li
        a(href="https://www.kurachic.jp/column/supervision/" target="blank") メディア向け
      li
        a(href="https://www.kurachic.jp/", target="blank") 暮らしっく不動産
  .copyright 2018-2021 &copy; Linsman INC. ALL Rights Reserved.
