link(href="//fonts.googleapis.com/css?family=Roboto%7COpen+Sans:400,300,600,700,800,300italic,400italic,400,300,600,700%7CRaleway:300,400,700%7CQuicksand:400,700o%7CLato%7CDosis|Abel%7CSlabo%7cPoppins:300,400,500,600'" rel="stylesheet" type="text/css")
link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Bitter:400,700" rel="stylesheet")
link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notosansjp.css")
link(rel="stylesheet" href="/assets/css/style.css")
link(rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon")
link(rel="apple-touch-icon" href="/assets/ico/apple-touch-icon57.png")
link(rel="apple-touch-icon" sizes="57x57" href="/assets/ico/apple-touch-icon57.png")
link(rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-touch-icon72.png")
link(rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-touch-icon114.png")
link(rel="apple-touch-icon" sizes="144x144" href="/assets/ico/apple-touch-icon144.png")
