footer#footer
  .footer-container
    .logo
      a(href="/")
        include ./_logo.pug
    ul#g-nav
      li
        a(href="") サービス
      li
        a(href="") 企業概要
      li
        a(href="") サービス
      li
        a(href="") お知らせ
  .copyright 2018 &copy; Linsman INC. ALL Rights Reserved.
