header#overray
  #overray-header
    .logo
      a(href="/")
        include ./_logo.pug
    .menu
      a#close-trigger(href="javascript:void(0);")
        i.ion-android-close
  ul#g-nav
    li
      a(href="/services/user/") お部屋を探す人
    li
      a(href="/services/owner/") 不動産オーナー
    li
      a(href="https://www.kurachic.jp/" target="blank") 暮らしっく不動産
    li
      a(href="/about/") 企業概要
    li
      a(href="https://www.kurachic.jp/ssl/" target="blank") お問い合わせ
    li
      a(href="/downloads/") 書類のダウンロード
header#sp-header
  .logo
    a(href="/")
      include ./_logo.pug
  .menu
    a#menu-trigger(href="javascript:void(0);")
      i.ion-android-menu
header#header
  .logo
    a(href="/")
      include ./_logo.pug
  ul#g-nav
    li
      a(href="/services/user/") お部屋を探す人
    li
      a(href="/services/owner/") 不動産オーナー
    li
      a(href="https://www.kurachic.jp/" target="blank") 暮らしっく不動産
    li
      a(href="/about/") 企業概要
    li
      a(href="https://www.kurachic.jp/ssl/" target="blank") お問い合わせ
    li
      a(href="/downloads/") 書類のダウンロード
