extends ../_layout
block var
  - title = "お部屋探しオーダー | LINESMAN"
  - keywords = "不動産,マッチング,物件管理,賃貸,売買"
  - description = "ラインズマンは暮らしを豊かにするために、マッチングやコンシェルジュなどの不動産サービスを提供する会社です。"
  - url = "https://www.linesman.jp/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'single'
block body
  .container
    .title
      h1 404
      small お探しのページはみつかりませんでした
      .lead 記事の掲載終了などにより、ご覧になっていたページがなくなっているか、
        br
        | 直接アドレスを入力された方は、URLの入力ミスなどの可能性があります。
        br
        | 大変申し訳ございませんが、再度目的のページをお探しください。
      hr
