extends ./_layout
block var
  - title = "不動産オーナー | LINESMAN"
  - keywords = "不動産,マッチング,物件管理,賃貸,売買"
  - description = "ラインズマンは暮らしを豊かにするために、マッチングやコンシェルジュなどの不動産サービスを提供する会社です。"
  - url = "https://www.linesman.jp/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'service-contents'
block body
  .container
    .title
      h1 OWENER
      small 不動産オーナー
      .lead 「良い物件」は人それぞれ違います。ご希望の条件をしっかりヒヤリングし、
        br
        | 物件はもちろん、契約内容、管理会社なども調査し、納得できる物件を探し出します。
      hr
    .wrapper
      .services
        .service-article
          a(href="")
            figure(style="background-image:url(https://www.linesman.jp/services/uploads/img_service01.png);")
            .detail
              h2 賃貸管理
              p ラインズマンの賃貸管理は必要最低限のサービスに絞り、 更にそれを細分化すること により、管理手数料を親しみやすい価格で提供します。
        .service-article
          a(href="")
            figure(style="background-image:url(https://www.linesman.jp/services/uploads/img_service01.png);")
            .detail
              h2 賃貸管理
              p ラインズマンの賃貸管理は必要最低限のサービスに絞り、 更にそれを細分化すること により、管理手数料を親しみやすい価格で提供します。
        .service-article
          a(href="")
            figure(style="background-image:url(https://www.linesman.jp/services/uploads/img_service01.png);")
            .detail
              h2 賃貸管理
              p ラインズマンの賃貸管理は必要最低限のサービスに絞り、 更にそれを細分化すること により、管理手数料を親しみやすい価格で提供します。
        .service-article
          a(href="")
            figure(style="background-image:url(https://www.linesman.jp/services/uploads/img_service01.png);")
            .detail
              h2 賃貸管理
              p ラインズマンの賃貸管理は必要最低限のサービスに絞り、 更にそれを細分化すること により、管理手数料を親しみやすい価格で提供します。
        .service-article
          a(href="")
            figure(style="background-image:url(https://www.linesman.jp/services/uploads/img_service01.png);")
            .detail
              h2 賃貸管理
              p ラインズマンの賃貸管理は必要最低限のサービスに絞り、 更にそれを細分化すること により、管理手数料を親しみやすい価格で提供します。
        .service-article
          a(href="")
            figure(style="background-image:url(https://www.linesman.jp/services/uploads/img_service01.png);")
            .detail
              h2 賃貸管理
              p ラインズマンの賃貸管理は必要最低限のサービスに絞り、 更にそれを細分化すること により、管理手数料を親しみやすい価格で提供します。
        .service-article
          a(href="")
            figure(style="background-image:url(https://www.linesman.jp/services/uploads/img_service01.png);")
            .detail
              h2 賃貸管理
              p ラインズマンの賃貸管理は必要最低限のサービスに絞り、 更にそれを細分化すること により、管理手数料を親しみやすい価格で提供します。
