extends ./_layout
block var
  - title = "株式会社ラインズマン"
  - keywords = "不動産,マッチング,物件管理,賃貸,売買"
  - description = "ラインズマンは暮らしを豊かにするために、マッチングやコンシェルジュなどの不動産サービスを提供する会社です。"
  - url = "https://www.linesman.jp/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = "home"
block body_header
  #hero_height
  #hero
    .hero-contents
      h1 ENRICHES OUR LIFE
      p ラインズマンはこれまでの不動産屋のイメージを
        br
        | 変えたいという思いから生まれた不動産会社です。
block body
    #services.contents-wrapper
      .service
        .title
          h2 USER
          small お部屋を探す人向けのサービス
          hr
          span ”無駄なストレスを減らし最適なお部屋を見つける”
          p お部屋探しや退去費用診断など、
            br
            | お部屋を探している方向けのサービスをご用意しています。
            br
            | お客様の要望をじっくりヒヤリングし、提案型のお部屋探しをモットーとしています。
          .more
            a(href="/services/user/")
              i.ion-checkmark-circled
              span サービスをみる
            a.external(href="https://www.kurachic.jp/ssl/counseling.html", target="_blank")
              i.ion-paper-airplane
              span 部屋探しをオーダー
        figure(style="background-image:url(/assets/img/service01.jpg);")
      .service
        figure(style="background-image:url(/assets/img/service02.jpg);")
        .title
          h2 OWNER
          small 物件をお持ちのオーナー向けのサービス
          hr
          span ”不透明な不動産管理を排除し、安心をお届けする”
          p 効率のいい広告運用、無駄のない不動産管理など
            br
            | 透明性のある様々なサービスを物件オーナー向けに提供しています。
            br
            | また、これから物件を取得したいといった方へのアドバイス等も行っています。
          .more
            a(href="/services/owner/")
              i.ion-checkmark-circled
              span サービスをみる
            a.external(href="https://www.kurachic.jp/ssl/rent.html", target="_blank")
              i.ion-paper-airplane
              span お問い合わせ
      .service
        .title
          h2 MEDIA
          small 不動産メディア運営している人向けのサービス
          hr
          span ”専門家による不動産記事監修サービス”
          p 不動産のプロがチェックする、あなたの情報源。
            br
            | 信頼性と専門性が約束された記事サービスを提供いたします。
          .more
            a(href="https://www.kurachic.jp/column/supervision/" target="_blank")
              i.ion-checkmark-circled
              span サービスをみる
            a.external(href="https://www.kurachic.jp/column/supervision/#form", target="_blank")
              i.ion-paper-airplane
              span お問い合わせ
        figure(style="background-image:url(https://www.kurachic.jp/uploads/service.webp);")
      .service
        figure(style="background-image:url(/assets/img/service03.png);")
        .title
          h2 WEB
          small ラインズマンの不動産ノウハウを配信するメディア
          hr
          span ”不動産にまつわる全ての情報を公開”
          p 不動産について様々な情報を伝えるメディア「暮らしっく不動産」を運営しています。
            br
            | 不動産業界ならではのわかりにくいことや、不透明な領域をタブーなしで全て公開しています。
          .more
            a.external(href="https://www.kurachic.jp/", target="_blank")
              i.ion-checkmark-circled
              span ウェブサイトをみる
    #home-news
      .contents-wrapper
        .title
          h2 NEWS
          small お知らせ
          hr
        .articles
          ul#home-articles
            li
              .category 不動産売買
              .entry
                time 2023/11/17
                a(href="https://www.kurachic.jp/column/post-3/", target="_blank") 高田馬場 不動産売却・査定 - ラインズマン　不動産売却サービス
            li
              .category 記事監修
              .entry
                time 2023/09/05
                a(href="https://www.kurachic.jp/column/post-1/", target="_blank") 宅建士による不動産記事監修サービス｜御社記事のE-E-A-Tを高めます
            li
              .category 記事監修
              .entry
                time 2023/08/01
                a(href="https://www.kurachic.jp/column/post-2/", target="_blank") エキサイト不動産投資メディアの記事監修を行いました
            li
              .category 暮 life
              .entry
                time 2022/01/27
                a(href="https://www.kurachic.jp/column/2087/", target="_blank") 2022年1月24日発売の「週刊ビル経営」に取材協力
            li
              .category 部屋探し
              .entry
                time 2022/01/26
                a(href="https://www.kurachic.jp/column/2086/", target="_blank") 高田馬場の不動産はどこで探す？
        .more
          a.external(href="https://www.kurachic.jp/column/", target="_blank")
            i.ion-checkmark-circled
            span お知らせをもっとみる

    #access
      .contents-wrapper
        .title
          h2 ACCESS
          small アクセス
          hr
        #map-wrap
          .address
            ul
              li 〒169-0075
                br
                | 東京都新宿区高田馬場3丁目18-1 ウイング高田馬場１階
              li.tel
                a(href="tel:0369089182")
                  i.ion-ios-telephone
                  span 03-6908-9182
            p JR山手線・西武新宿線「高田馬場」駅　早稲田口より徒歩8分
              br
              | 東京メトロ東西線「高田馬場」駅　1番出口より徒歩8分
            .more
              a(href="")
                i.ion-ios-location
                span Google Mapでみる
          #map
block plugins
  script(src="//maps.googleapis.com/maps/api/js?sensor=true&amp;key=AIzaSyAO7VSUJ4R9Q3shcqpHmfFq39qsmb0QNXg")
  script(src="/assets/js/googlemap.js?=20230116")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js")
  script(src="/assets/js/dataapi.js")
