extends ./_layout
block var
  - title = "スタッフ | LINESMAN"
  - keywords = "不動産,マッチング,物件管理,賃貸,売買"
  - description = "ラインズマンは暮らしを豊かにするために、マッチングやコンシェルジュなどの不動産サービスを提供する会社です。"
  - url = "https://www.linesman.jp/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'single'
block body
  .title
    h1 STAFF
    small スタッフ
    hr
  .wrapper
    #side
      nav
        ul
          li
            a.current(href="") 会社概要
          li
            a(href="") スタッフ
    main#main
      .entry-body
        .staff
          figure
            .img(style="background-image:url(https://www.kurachic.jp/column/assets_c/2015/11/monden_cover-thumb-1000xauto-7078.jpg);")
            figcaption
              h2 もんでんよしのり
                small 代表取締役
              span Yoshonri
              p （株）ラインズマン　代表取締役　宅地建物取引士、ファイナンシャルプランナー２級 「不動産をわかりやすく伝える」をコンセプトに、不動産会社「ラインズマン」を設立。 メディア「暮らしっく不動産」を運営するほか、相談者とともに悩み、考える住まい選びの “プロ”として活動している。 趣味はサッカーと音楽（ベーシスト）。ベースの教則本も執筆している。
          figure
            .img(style="background-image:url(https://www.kurachic.jp/column/assets_c/2015/11/monden_cover-thumb-1000xauto-7078.jpg);")
            figcaption
              h2 もんでんよしのり
                small 代表取締役
              span Yoshonri
              p （株）ラインズマン　代表取締役　宅地建物取引士、ファイナンシャルプランナー２級 「不動産をわかりやすく伝える」をコンセプトに、不動産会社「ラインズマン」を設立。 メディア「暮らしっく不動産」を運営するほか、相談者とともに悩み、考える住まい選びの “プロ”として活動している。 趣味はサッカーと音楽（ベーシスト）。ベースの教則本も執筆している。
          figure
            .img(style="background-image:url(https://www.kurachic.jp/column/assets_c/2015/11/monden_cover-thumb-1000xauto-7078.jpg);")
            figcaption
              h2 もんでんよしのり
                small 代表取締役
              span Yoshonri
              p （株）ラインズマン　代表取締役　宅地建物取引士、ファイナンシャルプランナー２級 「不動産をわかりやすく伝える」をコンセプトに、不動産会社「ラインズマン」を設立。 メディア「暮らしっく不動産」を運営するほか、相談者とともに悩み、考える住まい選びの “プロ”として活動している。 趣味はサッカーと音楽（ベーシスト）。ベースの教則本も執筆している。
