extends ../../../_layout
block var
  - title = "退去費用診断 | ラインズマン"
  - keywords = ""
  - description = "国土交通省のガイドラインに基づいた適切な退去診断表を作成します。また契約内容も診断。　適切な退去費用を算出します。"
  - url = "https://www.linesman.jp/services/user/retreat/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'single'
block body
  .title
    h1 RETREAT
    small 退去費用診断
    .lead 国土交通省のガイドラインに基づいた適切な退去診断表を作成します。
      br
      | また契約内容も診断。　適切な退去費用を算出します。
    hr
  .wrapper
    #side
      nav
        ul
          li
            a(href="../order/") お部屋探し
          li
            a.current(href="#") 退去費用診断
    main#main
      .entry-body
        h2 退去費用について
        p 国土交通省のガイドラインに基づいた適切な退去診断表を作成します。 また契約内容も診断。　適切な退去費用を算出します。
        h2 料金について
        .price 10,000円〜
