@use "../global";

#overray {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.9);
	z-index: 99999;
	#overray-header {
		box-sizing: border-box;
		@include global.flex(nowrap,space-between,center);
		height: global.$sp-header-height;
		padding-left: global.$webkit-side-padding;
		padding-right: global.$webkit-side-padding;
		.logo {
			flex-basis: 110px;
			a {
				position: relative;
				top: 2px;
				display: inline-block;
				svg {
					display: block;
					width: 110px;
				}
			}
		}
		.menu {
			a {
				i {
					font-size: 3rem;
					line-height: 1;
				}
			}
		}
	}
	#g-nav {
		padding-left: global.$webkit-side-padding;
		padding-right: global.$webkit-side-padding;
		margin-top: 64px;
		li {
			margin-bottom: 24px;
			font-size: 1.4rem;
			a {
				text-align: -webkit-match-parent;
				line-height: 1;
				font-weight: 600;
			}
		}
	}
}

#sp-header {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	height: global.$sp-header-height;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(190,190,190,0.2);
	z-index: 9999;
	padding-left: global.$webkit-side-padding;
	padding-right: global.$webkit-side-padding;
	.logo {
		flex-basis: 110px;
		a {
			position: relative;
			top: 2px;
			display: inline-block;
			svg {
				display: block;
				width: 110px;
			}
		}
	}
	.menu {
		a {
			i {
				font-size: 3rem;
				line-height: 1;
			}
		}
	}
}

#header {
	@include global.flex(nowrap,space-between,center);
    padding: 0 40px;
    height: global.$header-height;
	.logo {
		width: 140px;
		svg {
			display: block;
			width: 140px;
		}
	}
	#g-nav {
		flex: 1;
		@include global.flex(nowrap,flex-end,center);
		li {
			font-size: 1.3rem;
			padding: 0 20px;
			a {
				text-align: -webkit-match-parent;
				line-height: 1;
				font-weight: 500;
			}
		}
	}
}

.home {
	#sp-header {
		background-color: transparent;
		box-shadow: none;
		.logo {
			svg {
				filter: drop-shadow(0 0 10px rgba(140,140,140,0.9));
				.st0,
				.st1 {
					fill: #FFF;
				}
			}
		}
		.menu {
			a {
				color: #FFF;
				text-shadow: 0 0 10px rgba(140,140,140,0.9);
				i {
					font-size: 3rem;
					line-height: 1;
				}
			}
		}
		&.white {
			background-color: rgba(255,255,255,0.9);
			box-shadow: 0 0 5px rgba(190,190,190,0.2);
			.logo {
				svg {
					filter: none;
					.st0{
						fill: #231815;
					}
					.st1{
						fill: global.$green;
					}
				}
			}
			.menu {
				a {
					color: global.$black;
					text-shadow: none;
				}
			}
		}
	}
	#header {
		.logo {
			width: 140px;
			svg {
				filter: drop-shadow(0 0 10px rgba(140,140,140,0.9));
				.st0,
				.st1 {
					fill: #FFF;
				}
			}
		}
		#g-nav {
			flex: 1;
			li {
				a {
					color: #FFF;
					text-shadow: 0 0 10px rgba(140,140,140,0.9);
					&:hover {
						color: global.$green;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1120px) {
	#header {
    padding: 0 20px;
		.logo {
			width: 120px;
			svg {
				width: 120px;
			}
		}
		#g-nav {
			li {
				font-size: 1.25rem;
				padding: 0 14px;
				a {
					font-size: 1.25rem;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	#sp-header {
		@include global.flex(nowrap,space-between,center);
	}
	#header {
		display: none;
	}
}

@media screen and (max-width: 599px) {
}
