extends ../../_layout
block var
  - title = "不動産オーナー | ラインズマン"
  - keywords = "不動産オーナー"
  - description = "効率のいい広告運用、無駄のない不動産管理など透明性のある様々なサービスを物件オーナー向けに提供しています。これから物件を取得したいといった方へのアドバイス等も行っています。"
  - url = "https://www.linesman.jp/services/owner/"
  - og_type = "article"
  - og_img = "https://www.linesman.jp/uploads/ogp.png"
  - published_date = "2016-10-07T17:14:10+09:00"
  - modified_date = "2016-10-07T18:04:02+09:00"
  - bodyclass = 'service-contents'
block body
  .title
    h1 owner
    small 不動産オーナー
    hr
  .wrapper
    main#main
      .services
        .service-article
          a(href="./trouble/")
            figure(style="background-image:url(/services/uploads/20180116145426-290bed84f4547756d50ab7d3fcc79bea90018680.jpeg);")
            .detail
              h2 トラブル対応
              p
                | 入居者に長く心地よく生活して頂くために、生活上のトラブルには迅速かつ丁寧に対応します。
                | トラブルの対応はもちろん、入居者への丁寧な対応もお任せください。
        .service-article
          a(href="./inspection/")
            figure(style="background-image:url(/services/uploads/20180116145627-d63e6ba9c32bcc47f440ee8eaa26fe0480516e60.jpg);")
            .detail
              h2 退去時の点検と精算
              p
                | 退去時の立ち会い・点検は、100を超える細かい点検項目を用意しています。
                | 点検漏れでの後処理は、お互いにいい気持ちはしません。
                | 次の生活へ気持ち良く向かうために、きめ細かく点検をします。
        .service-article
          a(href="./residents/")
            figure(style="background-image:url(/services/uploads/20180116145832-2c1341a80bb96f65100a81ec6f12e3dc3108f3a1.jpg);")
            .detail
              h2 入居者募集について
              p
                | 普通の不動産屋さんでは拾いきれないような魅力を掘りおこします。
                | 写真、募集図面を丁寧につくり、その物件の個性をうまく引き出した入居者募集を展開していきます。
        .service-article
          a(href="https://www.kurachic.jp/column/post-3/" target="_blank")
            figure(style="background-image:url(https://www.kurachic.jp/column/.assets/thumbnail/DSC03060-800wi.jpg);")
            .detail
              h2 不動産売却サービス
              p 私たちラインズマンでは、高田馬場エリアに特化した無料査定サービスを提供しており、お客様が不動産売却を検討する際に必要な情報を提供いたします。
