@use "sass:map";
@use "variables";


$breakpoints: (
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (min-width: 769px) and (max-width: 1280px)',
  'xl': 'screen and (min-width: 1025px)',
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

@mixin mincho() {
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

@mixin background($position-x,$position-y) {
	background-position: $position-x $position-y;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin appearance() {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

@mixin animation($seconds,$function) {
	-webkit-transition: all $seconds;
	-moz-transition: all $seconds;
	-ms-transition: all $seconds;
	 -o-transition: all $seconds;
	transition: all $seconds;
	-webkit-transition-timing-function: $function;
	transition-timing-function: $function;
}

@mixin flex($wrap,$justify,$align) {
	display: -webkit-flex;
	display: flex;
	flex-wrap: $wrap;
	-webkit-justify-content: $justify;
	justify-content: $justify;
	align-items: $align;
}

@mixin center50() {
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

@mixin center50-y() {
	top: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin center50-w() {
	left: 50%;
	width: auto;
	height: auto;
	-webkit-transform: translateW(-50%);
	-ms-transform: translateW(-50%);
	-moz-transform: translateW(-50%);
	transform: translateW(-50%);
}

@mixin bottombg-shadow($depth) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0) linear-gradient(to top, rgba(0,0,0,$depth) 0%, rgba(0,0,0,0) 100%);
}
