$black: #252525;
$dark-gray: lighten($black,30%);
$light-gray: lighten($dark-gray,30%);
$gray: lighten($black,60%);
$green: #8AB761;
$light-green: lighten($green,40%);

$width: 1280px;
$width_single: 980px;

$header-height: 80px;
$sp-header-height: 60px;
$webkit-side-padding: 20px;
